<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <div>
        <h1>Calculator</h1>
        <form method="get">
            <input class="input_area" name="first_num" type="number">
            <div class="input_area">
                <button name="operation" type="submit" value="+">+</button>
                <button name="operation" type="submit" value="-">-</button>
                <button name="operation" type="submit" value="*">*</button>
                <button name="operation" type="submit" value="/">/</button>
                <button name="operation" type="submit" value="**">**</button>
                <button name="operation" type="submit" value="sqrt">sqrt</button>
            </div>
            <input class="input_area" name="second_num" type="number">
        </form>
        <p1>=</p1>
        <div>{{result}}</div>
    </div>
</body>
</html>